ul,
li {
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 25px 156px;
}
.gallery-item {
}

.gallery-link {
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.gallery-image:hover {
  transform: scale(1.05);
  transition: 1s;
}
